
    <%= bootstrap_form_for(@employee) do |f| %>
        <%= f.text_field :firstname %>
        <%= f.text_field :lastname %>
        <%= f.date_field :dob %>
        <%= f.number_field :pay %>
        <%= f.text_field :username %>
        <%= f.text_field :email %>
        <%= f.text_field :phone %>
        <%= f.text_field :address %>
        <%= f.file_field :picture %>
        
        <% if (not(@employee.nil? and current_employee.nil? )) and  (current_employee == @employee) %>
          <%= f.password_field :current_password, autocomplete: "off" %>
        <% else %>
          <%= f.password_field :password %>
          <%= f.password_field :password_confirmation %>
        <% end %>
        <%= f.submit "Submit",class:"btn btn-info" %>
      
    <% end %>
  