<%= link_to 'Create New Employee', new_employee_path ,class:"col-md-offset-0 col-md-3 col-xs-offset-3 col-xs-7 btn btn-info btn_uper_set" %>
  <br>
  <br>
<div class="table-responsive">
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>FirstName</th>
        <th>Lastname</th>
        <th>Username</th>
        <th>Email</th>
        <th class="center">Show</th>
        <th class="center">Edit</th>
        <th class="center">Destroy</th>
        <!--<th>Notes</th>-->
        <!--<th>Total Time</th>-->
      </tr>
    </thead>
    <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.firstname %></td>
        <td><%= employee.lastname %></td>
        <td><%= employee.username %></td>
        <td><%= employee.email %></td>
        
        <td><%= link_to '', employee_path(employee),class:"fa fa-eye btn btn-default btn-sm" %></td>
        <td><%= link_to '', edit_employee_path(employee),class:"fa fa-pencil btn btn-info btn-sm" %></td>
        <td><%= link_to '',employee, method: :delete, data: { confirm: 'Are you sure?' },class:"fa fa-trash-o btn btn-danger btn-sm" %></td>
        
      </tr>
    <% end %>
    
</table>
</div>