<div class="container">

  <div class="col-md-offset-3 col-md-6 well" style="background-color:white">
  <h4 class="center">Employee Details</h4>
  <table style="width:100%" class="table table-bordered">
    
    
    <tr>
      <th class="center">Picture</th>
      <td><%= image_tag @employee.picture.url(:medium) %></td>
    </tr>
    
    <tr>
      <th class="center">FirstName</th>
      <td><%= @employee.firstname %></td>
    </tr>
    <tr>
      <th class="center">Lastname</th>
      <td><%= @employee.lastname %></td>
    </tr>
    <tr>
      <th class="center">Username</th>
      <td><%= @employee.username %></td>
    </tr>
    
    <tr>
      <th class="center">Phone</th>
      <td><%= @employee.phone %></td>
    </tr>
    <tr>
      <th class="center">Email</th>
      <td><%= @employee.email %></td>
    </tr>
    
    <tr>
      <th class="center">Pay</th>
      <td><%= @employee.pay %></td>
    </tr>
    <tr>
      <th class="center">Date of birth</th>
      <td><%= @employee.dob %></td>
    </tr>
    <tr>
      <th class="center">Address</th>
      <td><%= @employee.address %></td>
    </tr>
    
    
  </table>
  
  <%= policy(@employee).edit? ? (link_to 'Edit Employee',edit_employee_path(@employee),class:"col-md-offset-4 col-md-4 col-xs-offset-4 col-xs-4 btn btn-info"):nil %><br><br>
  </div>

</div>
