
    <%= bootstrap_form_for(@admin) do |f| %>
        <%= f.text_field :firstname %>
        <%= f.text_field :lastname %>
        <%= f.text_field :username %>
        <%= f.text_field :email %>
        <%= f.text_field :phone %>
        <%= f.file_field :picture %>
        <% if (not(@admin.nil? and current_admin.nil? )) and  (current_admin == @admin) %>
          <%= f.password_field :current_password, autocomplete: "off" %>
        <% else %>
          <%= f.password_field :password %>
          <%= f.password_field :password_confirmation %>
        <% end %>
        <%= f.submit "Submit",class:"btn btn-info" %>
      
    <% end %>
  