<%= link_to 'Create New Admin', new_admin_path ,class:"col-md-offset-0 col-md-3 col-xs-offset-3 col-xs-7 btn btn-info btn_uper_set" %>
  <br>
  <br>
<div class="table-responsive">
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>FirstName</th>
        <th>Lastname</th>
        <th>Username</th>
        <th>Phone</th>
        <th>Email</th>
        <th class="center">Show</th>
        <th class="center">Edit</th>
        <th class="center">Destroy</th>
        <!--<th>Notes</th>-->
        <!--<th>Total Time</th>-->
      </tr>
    </thead>
    <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.firstname %></td>
        <td><%= admin.lastname %></td>
        <td><%= admin.username %></td>
        <td><%= admin.phone %></td>
        <td><%= admin.email %></td>
        
        <td class="center"><%= link_to '', admin_path(admin),class:"fa fa-eye btn btn-default btn-sm" %></td>
        <td class="center"><%= link_to '', edit_admin_path(admin),class:"fa fa-pencil btn btn-info btn-sm" %></td>
        <td class="center"><%= link_to '',admin, method: :delete, data: { confirm: 'Are you sure?' },class:"fa fa-trash-o btn btn-danger btn-sm" %></td>
        
      </tr>
    <% end %>
    
</table>
</div>