<div class="container">

  <div class="col-md-offset-3 col-md-6 well" style="background-color:white">
  <h4 class="center">Admin Details</h4>
  <table style="width:100%" class="table table-bordered">
    
    <tr>
      <th class="center">Picture</th>
      <td><%= image_tag @admin.picture.url(:medium) %></td>
    </tr>
    
    
    
    <tr>
      <th class="center">FirstName</th>
      <td><%= @admin.firstname %></td>
    </tr>
    <tr>
      <th class="center">Lastname</th>
      <td><%= @admin.lastname %></td>
    </tr>
    <tr>
      <th class="center">Username</th>
      <td><%= @admin.username %></td>
    </tr>
    
    <tr>
      <th class="center">Phone</th>
      <td><%= @admin.phone %></td>
    </tr>
    <tr>
      <th class="center">Email</th>
      <td><%= @admin.email %></td>
    </tr>
    
    
    
    
  </table>
  <% if policy(@admin).edit? %>
    <%= link_to 'Edit Admin',edit_admin_path(@admin),class:"col-md-offset-4 col-md-4 col-xs-offset-4 col-xs-4 btn btn-info" %><br><br>
  <% end %>
  </div>

</div>
