
    <%= bootstrap_form_for(@task) do |f| %>
    
      <%= f.text_field :name %>
      <%= f.select :job_id, Job.all.map { |job| [job.name.humanize, job.id] } %>
      <%= f.text_area :content %>
      <%= f.text_area :notes %>
      <%= f.text_field :comment %>
      <%= f.select :status, Task.statuses.map { |key, value| [key.humanize, key] } %>
      <%= f.file_field :picture %>
      <%= f.submit "Submit",class:"btn btn-info" %>
      
    <% end %>
  