<tr>
    <td><%= task.name %></td>
    <td><%= task.content %></td>
    <td><%= task.notes %></td>
    <td><%= task.comment %></td>
    <td><%= task.status.humanize %></td>
    <td><%= task.job.name %></td>
    <td><%= task.owner.name %></td>
    
    <td class="center">
      <%= link_to '', task_path(task),class:"fa fa-eye btn btn-default btn-sm" %>
    </td>
    <td class="center">
      <%= link_to '', edit_task_path(task),class:"fa fa-pencil btn btn-info btn-sm" %>
    </td>
    <td class="center">
      <%= link_to '',task, method: :delete, data: { confirm: 'Are you sure?' },class:"fa fa-trash-o btn btn-danger btn-sm" %>
    </td>

</tr>