<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <div class="alert alert-info" id="hide_notice_div">
          <strong>Info! <%= msg %>
      </div>
    <% end %>
  </ul>
<div class="container">
  <% end %>
  
    <div class="col-md-offset-4 col-md-5 well job_sign_up">
        <center><h2>Create New Task</h2></center>
        <%= render 'form' %>
    </div>
</div>