<div class="container">
  <h2 class="center"><%= @task.name %> Details</h2>
  <div class="col-md-12 bus-adm">
	        	<center>
            <div class="tabs tabs-bottom tabs-simple">
          		<ul class="nav nav-tabs">
          			<li class="active">
          				<a href="#Pending" data-toggle="tab">Task</a>
          			</li>
          			<li>
          				<a href="#approved" data-toggle="tab">Assign Employee</span></a>
          			</li>
          			<li>
          				<a href="#Assign_Status" data-toggle="tab">Change Status</span></a>
          			</li>
          		</ul>
            </div>
            </center>
            
            <div class="row">
              <div class="col-md-12">
                <div class="tab-content e-tabs ">
                  
                  <div class="tab-pane active" id="Pending">
                    	      <div class="row">
    
     
                          	   <div class="col-md-12">
                                  <table class="table table-bordered">
                                    
                                    <tr>
                                      <th class="center">Picture</th>
                                      <td><%= image_tag @task.picture.url(:medium) %></td>
                                    </tr>
                                    
                                    <tr>
                                      <th class="center">Name:</th>
                                      <td><%= @task.name %></td>
                                    </tr>
                                    <tr>
                                      <th class="center">Content</th>
                                      <td><%= @task.content %></td>
                                    </tr>
                                    <tr>
                                      <th class="center">Notes</th>
                                      <td><%= @task.notes %></td>
                                    </tr>
                                    
                                    <tr>
                                      <th class="center">Comment</th>
                                      <td><%= @task.comment %></td>
                                    </tr>
                                    <tr>
                                      <th class="center">Status</th>
                                      <td><%= @task.status %></td>
                                    </tr>
                                    
                                    <tr>
                                      <th class="center">Job</th>
                                      <td><%= @task.job.name %></td>
                                    </tr>
                                    
                                    <tr>
                                      <th class="center">Owner</th>
                                      <td><%= @task.owner.name %></td>
                                    </tr>
                                    
                                  </table>
                                  
                                  <% if policy(@task).edit? %>
                                      

                                    <%= link_to 'Edit Task',edit_task_path(@task),class:"col-md-offset-4 col-md-4 col-xs-offset-4 col-xs-4 btn btn-info" %>
                                <% end %>
                              </div>
                            </div>
                    	    </div>
                  
                  <div class="tab-pane" id="approved">
                    <div class="row">
                    
                      <div class="col-md-6">
                        <%= form_tag task_assign_path(@task), :method => :get do %>
                            <table class="table table-bordered">
                            <thead>
                              <th>Not Assigned</th>
                              <th>Select</th>
                            </thead>
                            
                            <tbody>
                              <% @unassigned_employees.all.each do |emp| %>
                                <tr>
                                  <td><%= emp.name + " ("+emp.class.to_s+")" %></td>
                                  <td><%= check_box_tag "employees[]", emp.id %></td> 
                                
                                </tr>
                              <% end %>
                              <% @unassigned_admins.all.each do |adm| %>
                                <tr>
                                  <td><%= adm.name + " ("+adm.class.to_s+")" %></td>
                                  <td><%= check_box_tag "admins[]", adm.id %></td> 
                                
                                </tr>
                              <% end %>
                              
                              <%#= collection_check_boxes("assign_task", :client_ids, @all_unassigned_client, :id, :name) do |b| %>
                                <!--<tr>-->
                                <!--  <td><%#= b.label %></td>-->
                                <!--  <td><%#= b.check_box %></td>-->
                                  
                                <!--</tr>-->
                              <%# end %>
                                
                            </tbody>
                      
                          </table>
                          <%= submit_tag 'Assign',class:"col-md-offset-0 col-md-4 col-xs-offset-4 col-xs-4 btn btn-info manage_btn" %>
                        <% end %>
                      </div>
                      <div class="col-md-6">
                        <table class="table table-bordered">
                          <thead>
                            <th>
                               Assigned
                            </th>
                            <!--<th class="center">Actions</th>-->
                          </thead>
                          <tbody>
                            <% @assigned_users.each do |element| %>
                            <tr>
                              <td> <%= element.assignee.name + " ("+ element.assignee.class.to_s+")" %> </td>
                              <!--<td class="center"> <= link_to '', '#',class:"fa fa-trash-o btn btn-danger btn-sm" %> </td>-->
                            </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                      
                    </div>
                    
                    </div>
                  <div class="tab-pane" id="Assign_Status">
                    <div class="row">
                       <div class="col-md-12">
                          <%= form_tag task_status_path(@task),:method => :get do %>
                            <table class="table table-bordered">
                                <thead>
                                  <th>Status</th>
                                  <th>Select</th>
                                </thead>
                              
                                <tbody>
                                  
                                  <% Task.statuses.each do |status| %>
                                    <tr>
                                      <td><%= status.first.humanize %></td>
                                      <td>
                                        
                                        <%= radio_button_tag 'status',status.second %>
                                      </td>
                                    </tr>
                                  <% end %>
                                  
                                    
                                  <%# end %>
                                  
                                    
                                </tbody>
                        
                            </table>
                            <%= submit_tag 'Change Status',class:"col-md-offset-5 col-md-2 col-xs-offset-3 col-xs-6 btn btn-info manage_btn" %>
                          <% end %>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            
            
  </div>
</div>
