<div class="container">

  <div class="col-md-offset-3 col-md-6 well" style="background-color:white">
  <h4 class="center">Task Details</h4>
<table style="width:100%" class="table table-bordered">
  <tr>
    <th class="center">Name:</th>
    <td><%= @task.name %></td>
  </tr>
  <tr>
    <th class="center">Content</th>
    <td><%= @task.content %></td>
  </tr>
  <tr>
    <th class="center">Notes</th>
    <td><%= @task.notes %></td>
  </tr>
  
  <tr>
    <th class="center">Comment</th>
    <td><%= @task.comment %></td>
  </tr>
  <tr>
    <th class="center">Status</th>
    <td><%= @task.status %></td>
  </tr>
  
  <tr>
    <th class="center">Job</th>
    <td><%= @task.job.name %></td>
  </tr>
  
  <tr>
    <th class="center">Owner</th>
    <td><%= @task.owner.name %></td>
  </tr>
  
  
</table>

<%= link_to 'Edit Task',edit_task_path(@task) ,class:"col-md-offset-4 col-md-4 col-xs-offset-4 col-xs-4 btn btn-info" %><br><br>
</div>

</div>
