<table class="table table-bordered">
  <thead>
    <th>
      Assigned
    </th>
    <!--<th class="center">Actions</th>-->
  </thead>
  <tbody>
    <% list.each do |element| %>
    <tr>
      <td> <%= element.name %> </td>
      <!--<td class="center"> <= link_to 'Remove', '#',class:"fa fa-trash-o btn btn-danger btn-sm" %> </td>-->
    </tr>
    <% end %>
  </tbody>
</table>