
    <%= bootstrap_form_for(@job) do |f| %>
    
        <%= f.text_field :name %>
          
      <%= f.text_field :contact %>
      <%= f.date_field :due_date %>
      <%#= f.number_field :status %>
      
      <%= f.select :status, Job.statuses.map { |key, value| [key.humanize, key] } %>
      
      <%= f.text_field :comment %>
      <%= f.text_area :notes %>
      <%= f.number_field :total_time %>
      <%= f.file_field :picture %>
      <%= f.submit "Submit",class:"btn btn-info" %>
      
    <% end %>
  