
            <tr>
              <td><%= job.name %></td>
              <td><%= job.contact %></td>
              <td><%= job.due_date %></td>
              <td><%= job.status %></td>
              <td><%= job.comment %></td>
              <td><%= job.notes %></td>
              <td><%= job.total_time %></td>
              <td class="center"><%= link_to '', job_path(job),class:"fa fa-eye btn btn-default btn-sm" %></td>
              
              <% if policy(Job).edit? %>
              	<td class="center"><%= link_to '', edit_job_path(job),class:"fa fa-pencil btn btn-info btn-sm" %></td>
              <% end %>
              <% if policy(job).destroy? %>
                <td class="center"><%= link_to '',job, method: :delete, data: { confirm: 'Are you sure?' },class:"fa fa-trash-o btn btn-danger btn-sm" %></td>
              <% end %>
              
              
              
              
              
            </tr>