<!--<div class="container" style="margin-bottom: 300px;">-->
<!--  <div class="row">-->
  <!-- <div class="col-md-3">-->
			<!--<aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">-->

				<!--<h4 class="heading-primary"><strong>Filter</strong> By</h4>-->
    <!--    <nav>-->
    <!--  <ul class="nav nav-pills nav-stacked" >-->
    <!--    <li class="active"><a href="#section1">Section 1</a></li>-->
    <!--    <li><a href="#section2">Section 2</a></li>-->
    <!--    <li><a href="#section3">Section 3</a></li>-->
    <!--  </ul>-->
    <!--</nav>-->
				
        
  <!--    <ul class="nav nav-pills nav-stacked" >-->
  <!--      <li class="active"><a href="#section1">Section 1</a></li>-->
  <!--      <li><a href="#section2">Section 2</a></li>-->
  <!--      <li><a href="#section3">Section 3</a></li>-->
  <!--      <li><a href="#section2">Section 4</a></li>-->
        
  <!--      <br>-->
  <!--      <br>-->
  <!--    </ul>-->
   
      
			<!--</aside>-->
		<!--</div>-->
		
    <div class="table-responsive">
      
      <%# if policy(@post).update? %>
  <%#= link_to "Edit post", edit_post_path(@post) %>
<%# end %>
      
      <%= policy(Job).new? ? (link_to 'Create New Job', new_job_path,class:"col-md-offset-0 col-md-3  col-xs-8 btn btn-info btn_uper_set") : nil %> <br><br>
      <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Contact</th>
              <th>Due Date</th>
              <th>Status</th>
              <th>Comment</th>
              <th>Notes</th>
              <th>Total Time</th>
              <th class="center">Show</th>
              <th class="center">Edit</th>
              <th class="center">Destroy</th>
            </tr>
          </thead>
          <tbody>
          <% @jobs.each do |job| %>
            <tr>
              <td><%= job.name %></td>
              <td><%= job.contact %></td>
              <td><%= job.due_date %></td>
              <td><%= job.status %></td>
              <td><%= job.comment %></td>
              <td><%= job.notes %></td>
              <td><%= job.total_time %></td>
              <td><%= link_to ' Show', job_path(job),class:"fa fa-eye btn btn-default btn-sm" %></td>
              <td><%= link_to ' Edit', edit_job_path(job),class:"fa fa-pencil btn btn-info btn-sm" %></td>
              <td><%= link_to ' Destroy',job, method: :delete, data: { confirm: 'Are you sure?' },class:"fa fa-trash-o btn btn-danger btn-sm" %></td>
              
            </tr>
          <% end %>
          
      </table>
      <!--<= link_to 'Create New Job', new_job_path %>-->
     
</div>
</div>
<br>
<br>