<div class="container">
  <h2 class="center"><%= @job.name %> Details</h2>
  <div class="col-md-12 bus-adm">
	        	<center>
            <div class="tabs tabs-bottom tabs-simple">
          		<ul class="nav nav-tabs">
          			<li class="active">
          				<a href="#Pending" data-toggle="tab">Job</a>
          			</li>
          			<li>
          				<a href="#approved" data-toggle="tab">Clients</span></a>
          			</li>
          			<li>
          				<a href="#rejected" data-toggle="tab">Employees</span></a>
          			</li>
          			<li>
          				<a href="#job_tasks" data-toggle="tab">Job Tasks</span></a>
          			</li>
          		</ul>
            </div>
            </center>

            	<div class="row">
            	    <div class="col-md-12">
                    	<div class="tab-content e-tabs">
                    	    <div class="tab-pane active" id="Pending">
                    	      <div class="row">
    
     
                          	   <div class="col-md-12">
                                  <table style="width:100%" class="table table-bordered">
                                    
                                    <tr>
                                      <th class="center">Picture</th>
                                      <td><%= image_tag @job.picture.url(:medium) %></td>
                                    </tr>
                                    
                                    
                                    <tr>
                                      <th>Name:</th>
                                      <td><%= @job.name %></td>
                                    </tr>
                                    <tr>
                                      <th>Contact</th>
                                      <td><%= @job.contact %></td>
                                    </tr>
                                    <tr>
                                      <th>Due Date:</th>
                                      <td><%= @job.due_date %></td>
                                    </tr>
                                    
                                    <tr>
                                      <th>Status</th>
                                      <td><%= @job.status.humanize %></td>
                                    </tr>
                                    <tr>
                                      <th>Comment</th>
                                      <td><%= @job.comment %></td>
                                    </tr>
                                    <tr>
                                      
                                      <th>Notes</th>
                                      <td><%= @job.notes %></td>
                                    </tr>
                                    
                                    <tr>
                                      <th>Total Time</th>
                                      <td><%= @job.total_time %></td>
                                    </tr>
                                    
                                  </table>
                                  <% if policy(@job).edit? %>
                                    <%= link_to 'Edit Job',edit_job_path(@job),class:"col-md-offset-4 col-md-4 col-xs-offset-4 col-xs-4 btn btn-info" %>
                                  <% end %>
                              </div>
                            </div>
                    	    </div>
                    	    <div class="tab-pane" id="approved">
                    	      <% if admin_signed_in? %>
                              <h2 class="center">Clients For This Job</h2>
                              <div class="row">
                              
                                <div class="col-md-6">
                                  <%= form_tag job_assign_clients_path(@job), :method => :get do %>
                                    <table class="table table-bordered">
                                    <thead>
                                      <th>Not Assigned</th>
                                      <th>Action</th>
                                    </thead>
                                    
                                    <tbody>
                                      
                                      <%= collection_check_boxes("clientjob", :client_ids, @all_unassigned_client, :id, :name) do |b| %>
                                        <tr>
                                          <td><%= b.label %></td>
                                          <td><%= b.check_box %></td>
                                          
                                        </tr>
                                      <% end %>
                                        
                                    </tbody>
                              
                                  </table>
                                  <%= submit_tag 'Assign',class:"col-md-offset-0 col-md-4 col-xs-offset-4 col-xs-4 btn btn-info manage_btn" %>
                                <% end %>
                                </div>
                                <div class="col-md-6">
                                  <%= render partial:'assignee_list', locals: { list: @all_assigned_clients} %>
                                </div>
                              </div>
                    	    </div>
                    	    <div class="tab-pane" id="rejected">
                    	        <h2 class="center">Employees For This Job</h2>
                                <div class="row">
                                  <div class="col-md-6">
                                    <%= form_tag job_assign_employees_path(@job), :method => :get do %>
                                      <table class="table table-bordered">
                                      <thead>
                                        <!--<th>Not Assigned</th>-->
                                        <th>Not Assigned</th>
                                        <th>Action</th>
                                      </thead>
                                      
                                      <tbody>
                                        
                                        <%= collection_check_boxes("clientjob", :employee_ids, @all_unassigned_employees, :id, :name) do |b| %>
                                          <tr>
                                            <td><%= b.label %></td>
                                            <td>
                                            
                                              <%= b.check_box  %>
                                            </td>
                                            <!--<td><label for="default" class="btn btn-default">-->
                                            <!--<input type="checkbox" id="default" class="badgebox">-->
                                            <!--<span class="badge">&check;</span></label></td>-->
                                          </tr>
                                        <% end %>
                                          
                                      </tbody>
                                
                                    </table>
                                    <%= submit_tag 'Assign',class:"col-md-offset-0 col-md-4 col-xs-offset-4 col-xs-4 btn btn-info manage_btn" %>
                                  <% end %>
                                  </div>
                                   <div class="col-md-6">
                                    <%= render partial:'assignee_list', locals: { list: @all_assigned_employees} %>
                                  </div>
                                  
                                </div>
                              <% end %>
                    	    </div>
                    	    <div class="tab-pane" id="job_tasks">
                    	      <%= link_to 'Add New Task' , new_task_path,class:"col-md-3 btn btn-info" %>
                    	      <%= render file:'tasks/index' %>
                    	    </div>
                    	</div>
            	    </div>
            	 </div>
            	    
            </div>
</div>

