
  <div style="margin-top: -10px">
    <%= bootstrap_form_for(@client) do |f| %>
      <%= f.text_field :name %>
      <%= f.text_field :address %>
      <%= f.text_field :poc %>
      <%= f.text_field :phone %>
      <%= f.text_field :email %>
      <%= f.text_area :notes %>
      <%= f.file_field :logo %>
      <%= f.submit "Submit",class:"btn btn-info" %>
      
    <% end %>
    </div>
  </div>
</div>