<!--<div class="container">-->
  <%= link_to 'Create New Client', new_client_path,class:"col-md-offset-0 col-md-3 col-xs-offset-3 col-xs-7 btn btn-info btn_uper_set" %>
  <br>
  <br>
<div class="table-responsive">

  <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>POC</th>
          <th>Phone</th>
          <th>Email</th>
          <th class="center">Show</th>
          <th class="center">Edit</th>
          <th class="center">Destroy</th>
          <!--<th>Notes</th>-->
          <!--<th>Total Time</th>-->
        </tr>
      </thead>
      <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.address %></td>
          <td><%= client.poc %></td>
          <td><%= client.phone %></td>
          <td><%= client.email %></td>
          
          <td class="center">
            <%= link_to '', client_path(client),class:"fa fa-eye btn btn-default btn-sm" %>
          </td>
          <td class="center">
            <%= link_to '', edit_client_path(client),class:"fa fa-pencil btn btn-info btn-sm" %>
          </td>
          <td class="center">
            <%= link_to '',client, method: :delete, data: { confirm: 'Are you sure?' },class:"fa fa-trash-o btn btn-danger btn-sm" %>
          </td>
          
        </tr>
      <% end %>
      
  </table>
</div>