<div class="container">

  <div class="col-md-offset-3 col-md-6 well" style="background-color:white">
  <h4 class="center">Clent Details</h4>
<table style="width:100%" class="table table-bordered">
  
  <tr>
    <th class="center">Picture</th>
    <td><%= image_tag @client.logo.url(:medium) %></td>
  </tr>
  <tr>
    <th class="center">Name:</th>
    <td><%= @client.name %></td>
  </tr>
  <tr>
    <th class="center">Address</th>
    <td><%= @client.address %></td>
  </tr>
  <tr>
    <th class="center">POC</th>
    <td><%= @client.poc %></td>
  </tr>
  
  <tr>
    <th class="center">Phone</th>
    <td><%= @client.phone %></td>
  </tr>
  <tr>
    <th class="center">Email</th>
    <td><%= @client.email %></td>
  </tr>
  
  <tr>
    <th class="center">Notes</th>
    <td><%= @client.notes %></td>
  </tr>
  
  
</table>
<% if policy(@client).edit? %>
  <%= link_to 'Edit Client',edit_client_path(@client) ,class:"col-md-offset-4 col-md-4 col-xs-offset-4 col-xs-4 btn btn-info" %><br><br>
<% end %>
</div>


</div>
