
<div class="container">
    <% if admin_signed_in? %>
	    <div class="row">
			<div class="col-md-12">
				<!--<h4 class="mb-lg">Navigation</h4>-->
				
	
				<div class="row">
					
					<div class="col-md-3">
						<div class="tabs tabs-vertical tabs-left tabs-navigation">
							<ul class="nav nav-tabs">
								<li class="active">
									<a href="#tabsNavigation4" data-toggle="tab"><i class="fa fa-user"></i> Manage Admins</a>
								</li>
								<li>
									<a href="#tabsNavigation3" data-toggle="tab"><i class="fa fa-users"></i> Manage Employees</a>
								</li>
								<li>
									<a href="#tabsNavigation2" data-toggle="tab"><i class="fa fa-address-card"></i> Manage Clients </a>
								</li>
								<li >
									<a href="#tabsNavigation1" data-toggle="tab"><i class="fa fa-briefcase"></i> Manage Jobs</a>
								</li>
								<li>
									<a href="#tabsNavigation5" data-toggle="tab"><i class="fa fa-tasks"></i> Manage Tasks</a>
								</li>
								
							</ul>
						</div>
					</div> <!-- Left Sidebar -->
					
					<div class="col-md-9"> <!-- Right body -->
						<div class="tab-pane tab-pane-navigation" id="tabsNavigation1">
							<h4 class="center">Manage Jobs</h4>
							<div class="col-md-12 bus-adm">
		        	
	                    	<div class="tabs tabs-bottom tabs-simple">
	                    		<ul class="nav nav-tabs">
	                    			<!--<li class="active" ><a data-toggle="tab">asdasd</a></li>-->
	                    			<% @jobs_statuses.each_with_index do |job, index| %>
	                    			
	                    				<%= index==0 ? '<li class="active">'.html_safe: '<li>'.html_safe %>
	                    				<a href="#<%= job.first %>" data-toggle="tab"><%= job.first.humanize%> <span class="badge badge_color"><%= @jobs.where(status: job.second).count %> </span></a>
	                    			</li>
	                    		
	                    			<% end %>
	                    		</ul>
	                        </div>
	  
	
	            	<div class="row">
	            	    <div class="col-md-12">
	                    	<div class="tab-content e-tabs">
	                    	    <% @jobs_statuses.each_with_index do |job, index| %>
	                    	    
	                    	    	<%= index==0 ? "<div class='tab-pane active' id='#{job.first}'>".html_safe : "<div class='tab-pane' id='#{job.first}'>".html_safe %>
		                    	    		<%= policy(Job).new? ? (link_to 'Create New  Job', new_job_path,class:"col-md-offset-0 col-md-3 col-xs-offset-3 col-xs-7 btn btn-info btn_uper_set") : nil %>
		      								<br>
		      								<br>
			                    	    	<div class="table-responsive">
		      								
							            	 
										      <table class="table table-bordered">
										          <thead>
										            <tr>
										              <th>Name</th>
										              <th>Contact</th>
										              <th>Due Date</th>
										              <th>Status</th>
										              <th>Comment</th>
										              <th>Notes</th>
										              <th>Total Time</th>
										              <th class="center">More Actions</th>
										              <% if policy(Job).edit? %>
										              	<th class="center">Edit</th>
										              <% end %>
										              <% if policy(Job).destroy? %>
										              	<th class="center">Destroy</th>
										              <% end %>
										            </tr>
										          </thead>
										          <tbody>
										          	<%= render @jobs.where(status: job.second) %>
										          </tbody>
										          
										      </table>
											</div>
										<br>
										<br>
										
										
		                    	    </div>
		                    	  <% end %>
	                    	    
	                    	</div>
	            	    </div>
	            	 </div>
	            	 
	            	    
	            </div>
							
						</div>
					
						<div class="tab-pane tab-pane-navigation" id="tabsNavigation2">
					    <h4 class="center">Manage Clients</h4>
						<%= render file:'clients/index' %>
						
					</div>
						<div class="tab-pane tab-pane-navigation" id="tabsNavigation3">
					    <h4 class="center">Manage Employees</h4>
						<%= render file:'employees/index' %>
						
					</div>
						<div class="tab-pane tab-pane-navigation active" id="tabsNavigation4">
					    <h4 class="center">Manage Admins</h4>
						<%= render file:'admins/index' %>
						<!--<h4>Colors</h4>-->
						
					</div>
						<div class="tab-pane tab-pane-navigation" id="tabsNavigation5">
						    <h4 class="center">Manage Tasks</h4>
						    
							<%#= render file:'tasks/index' %>
						    <div class="col-md-12 bus-adm">
		        	
							    <div class="tabs tabs-bottom tabs-simple">
									<ul class="nav nav-tabs">
										<% @tasks.statuses.each_with_index do |task, index| %>
											<%= index==0 ? '<li class="active">'.html_safe : '<li>'.html_safe %>
												
												<a href="#<%= task.first %>" data-toggle="tab"> <%= task.first.humanize %> <span class="badge badge_color"><%= @tasks.where(status: task.second).count %></span></a>
											</li>
										<% end %>
									</ul>
							    </div>
							  
	
								<div class="row">
								    <div class="col-md-12">
							        	<div class="tab-content e-tabs">
							        	    <% @tasks_statuses.each_with_index do |task, index| %>
	                    	    
				                    	    	<%= index==0 ? "<div class='tab-pane active' id='#{task.first}'>".html_safe : "<div class='tab-pane' id='#{task.first}'>".html_safe %>
				                    	    	
					                    	    		<%= policy(Task).new? ? (link_to 'Create New 			Task', new_task_path,class:"col-md-offset-0 		col-md-3 col-xs-offset-3 col-xs-7 btn btn-info 	btn_uper_set") : nil %>
					      								<br>
					      								<br>
						                    	    	<div class="table-responsive">
					      								
										            	 
													      <table class="table table-bordered">
													          <thead>
													            <tr>
													              	<th>Name</th>
															        <th>Content</th>
															        <th>Notes</th>
															        <th>Comment</th>
															        <th>Status</th>
															        <th>Job</th>
															        <th>Owner</th>
															        <th class="center">More Actions</th>
															        <th class="center">Edit</th>
															        <th class="center">Destroy</th>
													            </tr>
													          </thead>
													          <tbody>
													          	<%= render @tasks.where(status: task.second) %>
													          </tbody>
													          
													      </table>
														</div>
													<br>
													<br>
													
													
					                    	    </div>
					                    	  <% end %>
							        	    
							        	    
							        	</div>
								    </div>
								 </div>
								    
							</div>
							
							
							<!---->
	
						</div>
						
					</div>
					
				</div>
			<% elsif employee_signed_in? %>
				<div class="row">
			<div class="col-md-12">
				<!--<h4 class="mb-lg">Navigation</h4>-->
				
	
				<div class="row">
					
					<div class="col-md-3">
						<div class="tabs tabs-vertical tabs-left tabs-navigation">
							<ul class="nav nav-tabs">
								<li class="active">
									<a href="#tabsNavigation1" data-toggle="tab"><i class="fa fa-briefcase"></i> Manage Jobs</a>
								</li>
								<li>
									<a href="#tabsNavigation5" data-toggle="tab"><i class="fa fa-tasks"></i> Manage Tasks</a>
								</li>
								
							</ul>
						</div>
					</div> <!-- Left Sidebar -->
					
					<div class="col-md-9"> <!-- Right body -->
						<div class="tab-pane tab-pane-navigation active" id="tabsNavigation1">
							<h4 class="center">Manage Jobs</h4>
							<div class="col-md-12 bus-adm">
		        	
	                    	<div class="tabs tabs-bottom tabs-simple">
	                    		<ul class="nav nav-tabs">
	                    			<!--<li class="active" ><a data-toggle="tab">asdasd</a></li>-->
	                    			<% @jobs_statuses.each_with_index do |job, index| %>
	                    			
	                    				<%= index==0 ? '<li class="active">'.html_safe: '<li>'.html_safe %>
	                    				<a href="#<%= job.first %>" data-toggle="tab"><%= job.first.humanize%> <span class="badge badge_color"><%= @jobs.where(status: job.second).count %> </span></a>
	                    			</li>
	                    		
	                    			<% end %>
	                    		</ul>
	                        </div>
	  
	
	            	<div class="row">
	            	    <div class="col-md-12">
	                    	<div class="tab-content e-tabs">
	                    	    <% @jobs_statuses.each_with_index do |job, index| %>
	                    	    
	                    	    	<%= index==0 ? "<div class='tab-pane active' id='#{job.first}'>".html_safe : "<div class='tab-pane' id='#{job.first}'>".html_safe %>
		                    	    
			                    	    	<div class="table-responsive">
		      								
							            	 <%= policy(Job).new? ? (link_to 'Create New Job', new_job_path,class:"col-md-2 btn btn-info") : nil %>
		      								<br>
		      								<br>
										      <table class="table table-bordered">
										          <thead>
										            <tr>
										              <th>Name</th>
										              <th>Contact</th>
										              <th>Due Date</th>
										              <th>Status</th>
										              <th>Comment</th>
										              <th>Notes</th>
										              <th>Total Time</th>
										              <th class="center">More Actions</th>
										              <% if policy(Job).edit? %>
										              	<th class="center">Edit</th>
										              <% end %>
										              <% if policy(Job).destroy? %>
										              	<th class="center">Destroy</th>
										              <% end %>
										            </tr>
										          </thead>
										          <tbody>
										          	<%= render @jobs.where(status: job.second) %>
										          </tbody>
										          
										      </table>
											</div>
										<br>
										<br>
										
										
		                    	    </div>
		                    	  <% end %>
	                    	    
	                    	</div>
	            	    </div>
	            	 </div>
	            	 
	            	    
	            </div>
							
						</div>
					
					<!--	<div class="tab-pane tab-pane-navigation" id="tabsNavigation2">-->
					<!--    <h4 class="center">Manage Clients</h4>-->
						<%#= render file:'clients/index' %>
						
					<!--</div>-->
					<!--	<div class="tab-pane tab-pane-navigation" id="tabsNavigation3">-->
					<!--    <h4 class="center">Manage Employees</h4>-->
						<%#= render file:'employees/index' %>
						
					<!--</div>-->
					<!--	<div class="tab-pane tab-pane-navigation active" id="tabsNavigation4">-->
					<!--    <h4 class="center">Manage Admins</h4>-->
						<%#= render file:'admins/index' %>
					<!--	<h4>Colors</h4>-->
						
					<!--</div>-->
						<div class="tab-pane tab-pane-navigation" id="tabsNavigation5">
						    <h4 class="center">Manage Tasks</h4>
						    
							<%#= render file:'tasks/index' %>
						    <div class="col-md-12 bus-adm">
		        	
							    <div class="tabs tabs-bottom tabs-simple">
									<ul class="nav nav-tabs">
										<% @tasks.statuses.each_with_index do |task, index| %>
											<%= index==0 ? '<li class="active">'.html_safe : '<li>'.html_safe %>
												
												<a href="#<%= task.first %>" data-toggle="tab"> <%= task.first.humanize %> <span class="badge badge_color"><%= @tasks.where(status: task.second).count %></span></a>
											</li>
										<% end %>
									</ul>
							    </div>
							  
	
								<div class="row">
								    <div class="col-md-12">
							        	<div class="tab-content e-tabs">
							        	    <% @tasks_statuses.each_with_index do |task, index| %>
	                    	    
				                    	    	<%= index==0 ? "<div class='tab-pane active' id='#{task.first}'>".html_safe : "<div class='tab-pane' id='#{task.first}'>".html_safe %>
					                    	    
						                    	    	<div class="table-responsive">
					      								
										            	 <%= policy(Task).new? ? (link_to 'Create New Task', new_task_path,class:"col-md-2 btn btn-info") : nil %>
					      								<br>
					      								<br>
													      <table class="table table-bordered">
													          <thead>
													            <tr>
													              	<th>Name</th>
															        <th>Content</th>
															        <th>Notes</th>
															        <th>Comment</th>
															        <th>Status</th>
															        <th>Job</th>
															        <th>Owner</th>
															        <th class="center">More Actions</th>
															        <th class="center">Edit</th>
															        <th class="center">Destroy</th>
													            </tr>
													          </thead>
													          <tbody>
													          	<%= render @tasks.where(status: task.second) %>
													          </tbody>
													          
													      </table>
														</div>
													<br>
													<br>
													
													
					                    	    </div>
					                    	  <% end %>
							        	    
							        	    
							        	</div>
								    </div>
								 </div>
								    
							</div>
							
							
							<!---->
	
						</div>
						
					</div>
					
				</div>
				
			
			<% end  %>
		</div>
</div>