<div class="container">
  
<div class="col-md-offset-4 col-md-4 well log_in">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="form-group">
  <div class="col-md-12">
  <center><h2>Log in as Admin</h2></center>
  
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true,class:"form-control" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group">
    <div class="col-md-12">
    
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off",class:"form-control" %>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 10px;">
  <div class="form-group">
  <div class="col-md-6">
    <% if devise_mapping.rememberable? -%>
      
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
 
  <div class="col-md-6">
    <%= render "admins/shared/links" %>
  </div>
</div>
 </div>
<!--<div class="row">-->
<!--  <div class="form-group">-->
<!--  <div class="col-md-6">-->
    <br>
    
      <%= f.submit "Log in",class:"form-control btn btn-info" %>
      
    <!--</div>-->
  <% end %>
  <!--</div>-->
  
<!--</div>   -->
</div>
</div>