<div class="container">
  <div class="col-md-offset-4 col-md-4 well log_in">
<center><h2>Employee Log in</h2></center>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <div class="row">
    <div class="form-group">
      <div class="col-md-12">
     
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true,class:"form-control"  %>
      </div>
    </div>
</div>
  <div class="row">
    <div class="form-group">
      <div class="col-md-12">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off",class:"form-control" %>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
  <div class="form-group">
  <div class="col-md-6">
    <% if devise_mapping.rememberable? -%>
    
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
 
  <div class="col-md-6">
    <%= render "employees/shared/links" %>
  </div>
</div>
 </div>
<br>

<%= f.submit "Log in",class:"form-control btn btn-info" %>

<% end %>


</div>
</div>