/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require font-awesome
 */
 .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #245aa8 !important;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #245aa8 !important;
}
#header .header-btn-collapse-nav {
    background: #245aa8 !important;
    
}
.log_in{
    background-color:white;
    min-height:340px;
}
.job_sign_up{
    background-color:white;
    min-height:720px;
    
}
.client_sign_up{
    background-color:white;
    min-height:540px;
}
.forgoet_ogin{
    background-color:white;
    min-height:270px;
}
.side_fix {
    /*height: 500px;*/
    width: 260px;
    position: fixed;
    z-index: 1;
    /*top: 150px;*/
    /*left: 0;*/
    /*background-color: #111;*/
    overflow-x: hidden;
    /*padding-top: 20px;*/
    
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    
}
.bus-adm .tabs.tabs-simple .nav-tabs {
    margin-bottom: 0 !important;
}
.bus-adm .tabs.tabs-bottom{
margin-bottom: 0 !important;
}
.bus-adm .tabs.tabs-simple .nav-tabs > li {
    margin-bottom: 0 !important;
}
.bus-adm .tab-content{
border-top: 1px solid #EEE !important;
min-height:200px;
}
a{
    color:#245aa8;
}
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
  width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
    background-color: #245aa8;
    text-indent: 0;
}
.manage_btn{
        margin-bottom: 10px
}
#footer a:hover{
    color:white;
}