<div class="container">
  <div class="col-md-offset-4 col-md-4 well forgoet_ogin">
    
    
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
    <div class="row">
      <div class="form-group">
        <div class="col-md-12">
         <center><h2>Forgot your password?</h2></center>
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true,class:"form-control" %>
         
        </div>
      </div>
    </div><br>
    
    <div class="row">
      <div class="form-group">
        <div class="col-md-12">
          <%= f.submit "Send me reset password instructions",class:"form-control btn btn-info" %>
        </div>
        
      </div>
    </div>
    <% end %>
    <br>
    <center><%= render "admins/shared/links" %></center>
  </div>
</div>