<!--<nav class="navbar navbar-default">-->
<!--  <div class="container-fluid">-->
<!--    <div class="navbar-header">-->
<!--      <a class="navbar-brand" href="#">WebSiteName</a>-->
<!--    </div>-->
<!--    <ul class="nav navbar-nav">-->
      <!--<li class="active"><a href="#">Home</a></li>-->
      
      
<!--      <li><a href="#">Page 1</a></li>-->
<!--      <li><a href="#">Page 2</a></li>-->
<!--      <li><a href="#">Page 3</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->
<header id="header" >
<div class="header-body">
<div class="header-container container">
	<div class="header-row">
		<div class="header-column">
			<div class="header-logo">
				<a href="/">
					<img alt="Porto" width="200" height="100" data-sticky-width="82" data-sticky-height="40" data-sticky-top="33" src="/G_G_171220090757.jpeg">
				</a>
			</div>
		</div>
		<div class="header-column">
			
			<div class="header-row">
				<div class="header-nav">
					<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
						<i class="fa fa-bars"></i>
					</button>
					
					<div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
						<nav>
							<ul class="nav nav-pills" id="mainNav">
								<!--<li class="dropdown active">-->
								<!--	<a  href="index.html">-->
								<!--		Home-->
								<!--	</a>-->
								
								<!--</li>-->
								<% if (not admin_signed_in? and  not employee_signed_in?) %>
								<li class="">
									<a href="/admins/sign_in">
										Admin Login
									</a>
								</li>
								
								<li class="">
									<a  href="/employees/sign_in">
										Employee Login
									</a>
								
								
								</li>
								<% elsif admin_signed_in? %>
									
									
									<li class="">
									<a  href="<%= admin_dashboard_path %>">
										Admin Dashboard
									</a>
									</li>
									
									<li class="">
									<a  href="<%= admin_path(current_admin) %>">
										Profile
									</a>
									</li>
									
									<li class="">
									<a  href="<%= destroy_admin_session_path %>" data-method="delete">
										Log Out
									</a>
									</li>
								<% elsif employee_signed_in? %>
									
									
									<li class="">
									<a  href="<%= employee_dashboard_path %>">
										Employee Dashboard
									</a>
									</li>
									
									<li class="">
									<a  href="<%= employee_path(current_employee) %>">
										Profile
									</a>
									</li>
									
									<li class="">
									<a  href="<%= destroy_employee_session_path %>" data-method="delete">
										Log Out
									</a>
									</li>
									
								<% end %>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</header>
