<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
        <%#= notice %>
        <%#= alert %>
      
      <% if alert || notice %>
      <div class="alert alert-info" id="hide_notice_div">
          <strong>Info!</strong> <%= notice || alert %>
      </div>
    <% end %>
      <div style="margin-top: 50px;">
   
        <%= yield %>
      
      </div>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
